<?xml version="1.0"?>
<launch>
  <arg name="ign_args" default="$(find simulations)/world/box_wall_world.sdf"/>

 <param name="use_sim_time" value="true"/>

 <!--  <node
    pkg="tf2_ros"
    type="static_transform_publisher" 
    name="map_tf"
    output="screen"
    args="0 0 0   0 0 0   map vehicle_blue/odom">
  </node>
   -->
 

  <node
    pkg="odom_transform"
    type="odom_transform" 
    name="odom"
    >
  </node>

 
  
  <node
    pkg="tf2_ros"
    type="static_transform_publisher" 
    name="lidar_tf"
    args="-0.15   0 0.45   0 0 0   base_link vehicle_blue/lidar/gpu_lidar">
  </node>



  <node
    pkg="ros_ign_gazebo"
    type="ign_gazebo"
    name="ign_gazebo"
    required="true"
    args="$(arg ign_args)">
  </node>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    args="/model/vehicle_blue/cmd_vel@geometry_msgs/Twist]ignition.msgs.Twist /model/vehicle_blue/odometry@nav_msgs/Odometry[ignition.msgs.Odometry /lidar@sensor_msgs/LaserScan[ignition.msgs.LaserScan /clock@rosgraph_msgs/Clock[ignition.msgs.Clock /world/diff_drive/dynamic_pose/info@geometry_msgs/Pose[ignition.msgs.Pose">
  </node>

     <node
    pkg="lidar_modifier"
    type="lidar_modifier" 
    name="lidar_modifier"
    >
  </node> 

  





  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
      <remap from="scan" to="/lidar"/>
      <param name="odom_frame" value="vehicle_blue/odom" />
      <param name="base_frame" value="base_link" />
      <param name="map_update_interval" value="0.1"/>
      <param name="throttle_scans" value="1"/>
      <param name="maxUrange" value="3.5"/>
      <param name="sigma" value="0.05"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.05"/>
      <param name="astep" value="0.05"/>
      <param name="iterations" value="5"/>
      <param name="lsigma" value="0.075"/>
      <param name="ogain" value="3.0"/>
      <param name="lskip" value="0"/>
      <param name="srr" value="0"/>
      <param name="srt" value="0"/>
      <param name="str" value="0"/>
      <param name="stt" value="0"/>
      <param name="linearUpdate" value="1.0"/>
      <param name="angularUpdate" value="0.5"/>
      <param name="temporalUpdate" value="0.1"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="30"/>
      <param name="xmin" value="-20"/>
      <param name="ymin" value="-20"/>
      <param name="xmax" value="20"/>
      <param name="ymax" value="20"/>
      <param name="delta" value="0.05"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.01"/>
      <param name="lasamplerange" value="0.005"/>
      <param name="lasamplestep" value="0.005"/>
      <param name="transform_publish_period" value="0.2"/>

    </node>


  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find simulations)/rviz/lidar2.rviz" />
</launch>